
body {
    margin: 15px;
    padding: 0px;
    background-color: dimgrey;
    line-height: 0px;
}

div .key {
    display: inline-block;
    width: 85px;
    height: 61px;
    background-color: #444444;
    color: white;
    margin: 1px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    /* Negative margin

You can scoot the elements back
into place with negative 4px of margin
(may need to be adjusted based on font
size of parent). Apparently this is problematic
in older IE (6 & 7), but if you don't care about those browsers at
least you can keep the code formatting clean.*/
    margin-right: -5px;
}

div .key:hover {
background-color: #888888;
}

div .special {
    width: 180px;
}

div .spacebar {
    width: 578px;
}

div .fn{
    position: absolute;
    font-size: 12px;
    top: 0;
    line-height: 15px;
}

div.return {
    width: 165px;
}

.keyboard {
    width: 1300px;
}

.row {
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}

div .top-row {
    margin-right: 15px;
}

div .third-row {
    margin-right: 18px;
}
div .last-row {
    margin-right: 18px;
}
